.heading{
    background-color: #614433;
    fon
    padding: 15px;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    
}
h1{
    color: #eeaa23;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.linkedin{
    
    
    
}